.container {
  position: relative;
  background-color: gray;
  width: 80%;
  height: 30%;
}

.full {
  width: 100%;
  background: yellow;
}

.dragHandle {
  position: absolute;
  background-color: red;
}

.dragHandle.right {
  width: 10px;
  height: 90%;
  cursor: ew-resize;
}
